body {
  padding: 0;
  margin: 0;
  font-size:20px;
}

header {
  padding: 0 150px;
  width: 100%;
  height:50px;
  box-sizing: border-box;
  background: teal;
  text-transform: uppercase;
  font-size:18px;
}

header nav ul {
  margin: 0;
  padding: 0;
  display: flexbox;
  width:100%;
 
}

header nav ul li {
  list-style: none;
  position: relative;
  padding-left: 40px !important; 

}


header nav ul li ul {
  position: absolute;
  left: 0;
  display: none;
  background:teal;
  font-size:14px;
 
}



header nav ul li a {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: #fff;
  text-decoration: none;
  display: block;
}

header nav ul li a:hover {
  color: yellow;
  background: #2196f3;
  height:50px;
  font-size:20px;
}

nav
{
  width: 844px;
}

#showcase {
  height:auto;
  width:1400px;
  margin-left:10px;
  text-align:justify;
}


aside
{
  font-size: 25px;
  color: Red;
  background-repeat: no-repeat;
  background-color: black;
  width: 150px;
  height:250px;
  min-height: 450px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  float: right;

}
footer {
  width: auto;
  clear: both;
  height: 37px;
  background-color: #A8D5FE;
  color: red;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 37px;        
}
#PageWrapper
{
  width: 844px;
  margin: auto;
}
.thanhcc {
    background-color:darkgray;
    width:1500px;
    height:45px;
    padding-left:100px;
    float:left;
}
label {
    margin-left:70px;
    color:white;
    font-size:20px;
    margin-top:10px;
    border:inset;
}
input {
    margin-left:10px;
    padding:10px 10px 10px 10px;
    color:black;
    border-radius:20px;
}

button {
    padding-top:7px;
    padding-bottom:7px;
    font-size:16px;
    font-weight:bold;
    border:inset;
    color:black;
    border-radius:20px;
    background-color:yellow;
}
    button:hover {
        text-shadow: 0 1px 0 red;
        color:white;
        background-color:lightblue;
        background : radial-gradient( lightblue, blue, pink);
    background : -moz-radial-gradient( lightblue,blue, pink);
    background : -webkit-radial-gradient( lightblue,blue, pink);
    background : -o-radial-gradient( lightblue, blue, pink);
    }
.anhheader {
    float:left;
    margin-top:4px;
    margin-left:20px;
}
.cbbox {
    font-size:20px;
    margin:auto;
}
textbox {
    border:dashed;
}
div.gallery {
    margin: auto;
    border: 3px solid #ccc;
    float: left;
    width: 180px;
    margin-left:20px;
    margin-top:20px;
    margin-right:20px;
    margin-bottom:20px;
}

    div.gallery img {
     height: 165px;
     width:180px;
    }
        div.gallery:hover {
    margin: auto;
    border: 3px solid red;
    float: left;
    width: 180px;
    margin-left:20px;
    margin-top:20px;
    margin-right:20px;
    margin-bottom:20px;
     }
    div.gallery img:hover {
     height: 225px;
     width:180px;
    }

    div.desc {
     height:40px;
     text-align: center;
     background-color:white;
    }
.sitemenu {
    background-color:lightgray;
    font-size:25px;
    margin-left:0px;
    display:block;
    padding-left:20px;
    float:left;
    width:100%;
}
.anhnentrangchu {
    background-color:lightblue;
    background-image:url(~/Images/conanwallpaper.jpg);
    background-repeat:no-repeat;
    background-size:100%;
    height:800px; 
    width:1400px;  
}
.content {
    font-size:30px;
    font-weight:bold;
}
    .content h1 {
        color:red;
    }
    .content p {
        color:red;
    }
.nen {
    margin-top:-20px;
    left:0px;
    height:100px;
    width:300%;
}
.ErrorMessage {
     color: Red;

}
.AJAX {
    height:32px;
    width:500px;
    background-image:url(Images/ajax.gif);
    background-repeat:no-repeat;
    padding-left:40px;
    line-height:32px;
}
.Attention {
    border:4px solid red;
    padding: 10px 0;
    width:100px;
    margin:auto;
    display:block;
    text-align:center;
}
.buttonsend {
    padding-top:7px;
    padding-bottom:7px;
    font-size:16px;
    font-weight:bold;
    border:inset;
    color:black;
    border-radius:20px;
    background-color:yellow;
   }
.nendangnhap {
    width:100%;
    height:100%;
}
div.dangnhap {
    float:left;
    width:500px;
    margin-top:20px;
    margin-left:100px;
}
    div.dangnhap input {
        margin-top:10px;
    }
    .bann {
     float:left;
     font-size: 25px;
     color: Red;
     width: 200px;
     height: 600px;
     padding-bottom: 10px;
     padding-left: 10px;
    }
.bann img {
    height:500px;
    width:200px;
}
.phim {
    float:right;
    height:auto;
    width:300px;
    background-color:black;
    min-height:500px;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right:10px;
    color:white;
    margin-left:0px;
}
    .phim.mucphim {
         height:50px;
         width:auto;   
         font-size: 12px;
    }
    .phim.phim img {
        margin-top:10px;
        float:left;
        width: auto;
        height: 50px;
        border: 1px solid #CCC;
    }
    .phim.phim p {
        margin-left:5px;
        color:white;
        line-height:8px;
    }
.dangki {
    background-color:white;
    font-size:20px;
    color:black;
    float:left; 
    margin-left:20px;
    padding-left:100px;
    padding-right:50px;
}